.igncsdus-sec2 .igncsds-sec2-rgt-img{
	height: 480px;
}
.igncsdus-sec2 .igncsds-sec2-rgt-img-ctlr{
	padding-top: 8px;
}

.igncsus-sec3-inr .igncsds-sec3-lft-img{
	order: 2;
}
.igncsus-sec3-inr .igncsds-sec3-rgt-des{
	order: 1;
	padding-left: 0;
	padding-right: 20px;
	position: relative;
	z-index: 2;
}

.igncsus-sec3-inr .igncsds-sec3-lft-img-inr{
	height: 470px;
	margin-right: -50px;
}
.igncsus-sec3-inr .igncsds-sec3-lft-img-inr img{
	display: none;
}
.igncsus-sec3 .igncsds-sec3-lft-img{
	margin-right: -15px;
}
.igncsus-sec3-inr .igncsds-sec3-lft-img{
	width: 52%;
	margin-left: -95px;
	position: relative;
	z-index: 1;
}

.igncsus-sec4{
	background: #00354e;
	padding-top: 30px;
	padding-bottom: 12px;
}
.igncsus-sec4-inr{
	text-align: center;
}

.igncsus-sec5 .igncsds-sec7-des{
	padding-right: 0
}

.igncsus-sec6.igncsds-sec8{
	padding-top: 20px;
	padding-bottom: 2px;
}

.igncsus-sec8{
	padding-top: 50px;
	padding-bottom: 10px;
	background: #e7f4fa;
}

.igncsus-sec8-mdl-img{
	margin-left: -17px;
	padding-bottom: 25px;
	padding-top: 10px;
}

.igncsus-sec8-btm-des ul li{
	background-repeat: no-repeat!important;
    background-size: 100% 100%!important;
    margin-left: 0;
    line-height: 1;
    background-position: center!important;
    display: inline-block;
    padding: 2px 18px 5px 50px;
    margin-bottom: 27px;
    margin-left: -15px;
}
.igncsus-sec8-btm-des ul li:before{
	left: 15px;
}
.igncsus-sec8-btm-des ul li strong{
	font-family: 'MontserratMedium';
	font-weight: 500;
}

.igncsus-sec10{
	padding-top: 15px;
	background: #fafafa;
}

.igncsus-sec10-hdr{
	padding-bottom: 10px;
}
.igncsus-sec10-hdr h4{
	text-align: center;
	color: #000;
}

.igncsus-sec10-des-ctlr{
	display: flex;
}
.igncsus-sec10-img-ctlr{
	order: 2;
	width: 40%;
}
.igncsus-sec10-des{
	order: 1;
	width: 60%;
	padding-right: 20px;
}

.igncsus-sec10-img{
	height: 460px;
	margin-right: -50px;
	margin-left: -185px;
}
.igncsus-sec10-img img{
	display: none;
}

.igncsds-sec3.igncsus-sec3{
	padding-bottom: 0;
}

.igncsus-sec11{
	padding-top: 48px;
}

.igncsus-sec11-inr{
	border: 2px dashed #026a9d;
	padding: 30px 30px 10px 30px;
}
.igncsus-sec11-des-ctlr{
	display: flex;
}
.igncsus-sec11-img-ctlr{
	width: 45%;
	order: 2;
	padding-top: 10px;
}
.igncsus-sec11-des{
	order: 1;
	width: 55%;
	padding-right: 10px;
}

.igncsus-sec11-img{
	padding-left: 50px;
    margin-top: -36px;
}