.igncs-k1-sec{
    background: #f2f2f2;
    padding-top: 45px;
    padding-bottom: 50px;
}
.igncs-k1-img-des-cntlr{
    display: flex;
}
.igncs-k1-lft-des{
    width: 69%;
    order: 1;
}
.igncs-k1-rgt-img{
    width: 31%;
    order: 2;
}