.igncs-k1-sec{
    background: #f2f2f2;
    padding-top: 45px;
    padding-bottom: 50px;
}
.igncs-k1-img-des-cntlr{
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    padding-top: 35px;
    background: #fff;
    padding-bottom: 35px;
    border: 2px dashed #026a9d;
}
.igncs-k1-lft-des{
    width: 71%;
    order: 1;
    padding-right: 30px;
}
.igncs-k1-rgt-img{
    width: 29%;
    order: 2;
}
.igncs-k1-rgt-img-inline{
    height: 100%;
}
.igncs-k5-rgt-img img,
.igncs-k3-rgt-img-cntlr img,
.igncs-k1-rgt-img-cntlr img{
    width: 100%;
    height: auto;
}
.igncs-k1-rgt-img-cntlr img{
    display: none;
}
.igncs-k1-top-des p,
.igncs-k1-lft-des p{
    line-height: 1.2;
}
.igncs-k5-left-des p:last-child,
.igncs-k3-left-des p:last-child,
.igncs-k1-lft-des p:last-child {
    margin-bottom: 0;
}
.igncs-k1-rgt-img-cntlr {
    border: 6px solid #fff;
    box-shadow: 0px 1px 23px 10px #f1f1f1;
    -webkit-box-shadow: 0px 1px 23px 10px #f1f1f1;
    -ms-box-shadow: 0px 1px 23px 10px #f1f1f1;
    margin-top: 5px;
    height: 438px;
}
.igncs-k2-sec{
    background-color: #ffffff;
    padding-top: 40px;
}
.igncs-k2-sec.plr-50{
    padding-right: 20px!important;
}
.igncs-k2-sec-inr{
    display: flex;
    flex-wrap: wrap;
}
.igncs-k2-left-des{
    width: 65%;
    padding-right: 40px;
}
.igncs-k2-rgt-img{
    width: 35%;
}
.igncs-k4-left-des ul li:nth-child(2),
.igncs-k2-left-des ul li:nth-child(2){
    padding-bottom: 50px;
}
.igncs-k3-sec{
    padding-top: 38px;
    padding-bottom: 45px;
    background: rgba(51, 51, 51, 0.7);
}
.igncs-k3-sec-inner {
    display: flex;
    flex-wrap: wrap;
}
.igncs-k3-left-des {
    width: 72%;
    padding-right: 30px;
}
.igncs-k3-rgt-img {
    width: 28%;
    
}
.igncs-k3-rgt-img-cntlr{
    border: 6px solid #fff;
    margin-top: 7px;
}
.igncs-k5-left-des p,
.igncs-k3-left-des p {
    color: #fff;
    line-height: 1.3;
}
p strong.yellow{
    color: #fbb613;
}
.igncs-k4-sec.plr-50{
    padding-top: 20px;
    padding-right: 20px!important;
}
.igncs-k4-sec-inr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.igncs-k4-left-des {
    width: 58%;
    padding-right: 61px;
    padding-top: 40px;
}
.igncs-k4-rgt-img {
    width: 42%;
}
.igncs-k4-left-des ul{
    padding-bottom: 0;
}
.igncs-k5-sec-row-inr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.igncs-k5-left-des {
    width: 70%;
    padding-right: 20px;
}
.igncs-k5-rgt-img {
    width: 30%;
}
.igncs-k5-left-des p{
    color: #fff;
    line-height: 1.16;
}
.igncs-k5-sec-row{
    border: 2px dashed #01567f;
    padding: 0 30px;
}
.igncs-k5-sec-row-1{
    padding-top: 40px;
    padding-bottom: 35px;
}
.igncs-k5-sec-inr {
    padding-top: 55px;
    padding-bottom: 48px;
}
.igncs-k5-sec-row-2{
    border: none;
    padding-left: 0;
    padding-right: 11px;
}
.igncs-k5-sec-row-2 .igncs-k5-rgt-img{
    width: 45%;
}
.igncs-k5-sec-row-2 .igncs-k5-rgt-img-inr{
    margin-left: 20px;
    border: 6px solid #fff;
}
.igncs-k5-sec-row-2 .igncs-k5-left-des{
    width: 55%;
}
.igncs-k5-left-des ul li{
    color: #ffffff;
}
.igncs-k5-left-des ul li::before{
    background: url('assets/images/list-white-icon.png')!important;
}
.igncs-k5-left-des ul{
    padding-top: 30px;
    padding-bottom: 0;
}
.igncs-k5-sec-row-2 .igncs-k5-sec-row-inr {
    padding-top: 38px;
    padding-bottom: 45px;
}
.igncs-k5-sec-row-3 .igncs-k5-rgt-img img{
    width: initial;
}
.igncs-k5-sec-row-3 .igncs-k5-rgt-img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.igncs-k5-rgt-img-cntlr {
    border: 6px solid #fff;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
}
.igncs-k5-sec-row-3{
    padding-top: 20px;
    padding-bottom: 20px;
}
.igncs-k5-sec-row-3 .igncs-k5-left-des{
    width: 70%;
}
.igncs-k5-sec-row-3 .igncs-k5-rgt-img{
    width: 30%;
}
.igncs-k1-top-des p strong br{
    display: none;
}



@media (max-width: 1199px){
    .igncs-k4-left-des ul li br,
    .igncs-k1-lft-des p br{
        display: none;
    }
    .igncs-k1-lft-des{
        width: 65%;
    }
    .igncs-k1-rgt-img{
        width: 35%;
    }
    .igncs-k4-left-des ul li:nth-child(2), 
    .igncs-k2-left-des ul li:nth-child(2) {
        padding-bottom: 40px;
    }
    .igncs-k1-top-des p strong br{
        display: block;
    }
}
@media (max-width: 991px){
    .igncs-k4-rgt-img,
    .igncs-k4-left-des,
    .igncs-k3-rgt-img,
    .igncs-k3-left-des,
    .igncs-k2-rgt-img,
    .igncs-k2-left-des,
    .igncs-k1-lft-des,
    .igncs-k1-rgt-img{
        width: 100%;
    }
    .igncs-k1-rgt-img-cntlr img {
        display: block;
    }
    .igncs-k1-rgt-img-inline{
        display: none;
    }
    .igncs-k1-rgt-img-cntlr{
        height: initial;
    }
    .igncs-k4-rgt-img,
    .igncs-k3-rgt-img,
    .igncs-k2-rgt-img,
    .igncs-k1-rgt-img{
        order: 1;
        margin-bottom: 35px;
        text-align: center;
    }
    .igncs-k4-left-des,
    .igncs-k3-left-des,
    .igncs-k2-left-des,
    .igncs-k1-lft-des{
        order: 2;
        padding: 0;
    }
    /*.igncs-k5-rgt-img img, 
    .igncs-k3-rgt-img-cntlr img{
        width: initial;
    }*/
    .igncs-k3-rgt-img-cntlr{
        max-width: 400px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .igncs-k5-sec-row-2 .igncs-k5-left-des{
        padding-right: 10px;
        width: 58%;
    }
    .igncs-k5-sec-row-2 .igncs-k5-rgt-img{
        width: 42%;
    }
    .igncs-k5-sec-row-2 .igncs-k5-rgt-img-inr{
        margin-left: 0;
    }
    .igncs-k5-sec-row-2 .igncs-k5-sec-row-inr {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .igncs-k5-sec-inr {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .igncs-k5-sec-row-2{
        padding-right: 0;
    }
    .igncs-k4-left-des ul li:nth-child(2), 
    .igncs-k2-left-des ul li:nth-child(2) {
        padding-bottom: 30px;
    }
}
@media (max-width: 767px){
    .igncs-k5-sec-row-2 .igncs-k5-rgt-img,
    .igncs-k5-sec-row-2 .igncs-k5-left-des,
    .igncs-k5-sec-row-3 .igncs-k5-left-des,
    .igncs-k5-sec-row-3 .igncs-k5-rgt-img,
    .igncs-k5-rgt-img,
    .igncs-k5-left-des{
        width: 100%;
    }
    .igncs-k5-rgt-img{
        order: 1;
        margin-bottom: 35px;
        text-align: center;
    }
    .igncs-k5-left-des{
        order: 2;
        padding: 0;
    }
    .igncs-k5-sec-row-2 .igncs-k5-rgt-img-inr{
        display: inline-block;
    }
    .igncs-k5-sec-row{
        padding: 30px 20px;
    }
    .igncs-k5-sec-row-3{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .igncs-k1-sec{
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .igncs-k4-left-des ul li:nth-child(2), 
    .igncs-k2-left-des ul li:nth-child(2) {
        padding-bottom: 22px;
    }
    .igncs-k2-sec,
    .igncs-k4-sec{
        padding-bottom: 20px;
    }
    .igncs-k4-sec.plr-50{
        padding-right: 15px!important;
    }
    .igncs-k1-img-des-cntlr{
        padding-left: 20px;
        padding-right: 20px;
    }
    .igncs-k5-left-des ul {
        padding-top: 0px;
    }
    .igncs-k5-rgt-img{
        max-width: 400px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    } 
}
@media(max-width: 639px){
    /*.igncs-k1-top-des p strong br{
        display: none;
    }*/
}
@media(max-width: 575px){
    .igncs-k1-img-des-cntlr {
        padding-left: 15px;
        padding-right: 15px;
    }
    .igncs-k5-sec-row {
        padding: 30px 15px;
    }
    .igncs-k5-sec-row.igncs-k5-sec-row-2{
        padding-left: 0;
        padding-right: 0;
    }
}