.igncsdus-sec2 .igncsds-sec2-rgt-img{
	height: 480px;
}

.igncsus-sec3-inr .igncsds-sec3-lft-img{
	order: 2;
}
.igncsus-sec3-inr .igncsds-sec3-rgt-des{
	order: 1;
	padding-left: 0;
	padding-right: 20px;
}

.igncsus-sec3-inr .igncsds-sec3-lft-img-inr{
	height: 470px;
	margin-right: -50px;
}
.igncsus-sec3-inr .igncsds-sec3-lft-img-inr img{
	display: none;
}

.igncsus-sec4{
	background: #00354e;
	padding-top: 30px;
	padding-bottom: 5px;
}
.igncsus-sec4-inr{
	text-align: center;
}

.igncsus-sec5 .igncsds-sec7-des{
	padding-right: 0
}

.igncsus-sec8{
	padding-top: 50px;
	padding-bottom: 10px;
	background: #e7f4fa;
}

.igncsus-sec8-mdl-img{
	margin-left: -17px;
	padding-bottom: 15px;
	padding-top: 10px;
}

.igncsus-sec8-btm-des ul li{
	background-repeat: no-repeat!important;
    background-size: 100% 100%!important;
    margin-left: 0;
    line-height: 1;
    background-position: center!important;
    display: inline-block;
    padding: 2px 10px 5px 40px;
    margin-bottom: 20px;
}

.igncsus-sec10{
	padding-top: 15px;
}

.igncsus-sec10-hdr{
	padding-bottom: 10px;
}
.igncsus-sec10-hdr h4{
	text-align: center;
	color: #000;
}

.igncsus-sec10-des-ctlr{
	display: flex;
}
.igncsus-sec10-img-ctlr{
	order: 2;
	width: 40%;
}
.igncsus-sec10-des{
	order: 1;
	width: 60%;
	padding-right: 20px;
}

.igncsus-sec10-img{
	height: 450px;
	margin-right: -50px;
	margin-left: -185px;
}
.igncsus-sec10-img img{
	display: none;
}