.igncs-up-k1-sec-inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}
.igncs-up-k1-left-des {
    width: 62%;
    padding-right: 30px;
    position: relative;
}
.igncs-up-k1-rgt-img {
    width: 38%;
    padding-right: 4px;
}
.igncs-up-k1-arow-img-ctlr{
    position: absolute;
    top: -100px;
    right: -25px;
}
.igncs-up-k2-sec-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 36px;
    padding-right: 4px;
    padding-top: 18px;
    padding-bottom: 18px;
}
.igncs-up-k2-left-des {
    width: 63%;
}
.igncs-up-k2-rgt-img {
    width: 37%;
}
.igncs-up-k8-left-des p:last-child,
.igncs-up-k7-left-des p:last-child,
.igncs-up-k6-left-des p:last-child,
.igncs-up-k5-left-des p:last-child,
.igncs-up-k4-left-des p:last-child,
.igncs-up-k3-left-des p:last-child,
.igncs-up-k2-left-des p:last-child {
    margin-bottom: 0;
}
.igncs-up-k2-left-des p {
    color: #fff;
    line-height: 1.3;
}
.igncs-up-k3-left-des p{
    line-height: 1.16;
}
.igncs-up-k1-left-des ul li::before,
.igncs-up-k3-left-des ul li::before{
    background: url(assets/images/list-yellow-icon.png)!important;
}
.igncs-up-k1-left-des ul li:last-child{
    padding-bottom: 0;
}
.igncs-up-k3-left-des ul li,
.igncs-up-k1-left-des ul li {
    padding-left: 36px;
}
.igncs-up-k1-rgt-img,
.igncs-up-k2-rgt-img-cntlr {
    text-align: right;
}
.igncs-up-k3-sec-inr {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 35px;
    padding-bottom: 28px;
}
.igncs-up-k3-left-des {
    width: 54%;
    padding-right: 25px;
}
.igncs-up-k3-rgt-img {
    width: 46%;
}
.igncs-up-k3-rgt-img-cntlr {
    margin-left: -25px;
    padding-right: 36px;
}
.igncs-up-k3-left-des ul {
    padding-bottom: 0;
}
.igncs-up-k6-sec,
.igncs-up-k5-sec,
.igncs-up-k4-sec{
    background: #f2f2f2;
}
.igncs-up-k4-sec-inr {
    display: flex;
    flex-wrap: wrap;
    padding-top: 48px;
    padding-bottom: 50px;
}
.igncs-up-k4-left-des {
    width: 60%;
    padding-right: 30px;
    padding-top: 40px;
}
.igncs-up-k4-rgt-img {
    width: 40%;
}
.igncs-up-k4-rgt-img-cntlr {
    border: 6px solid #fff;
    box-shadow: 0px 1px 23px 10px #f1f1f1;
    -webkit-box-shadow: 0px 1px 23px 10px #f1f1f1;
    -ms-box-shadow: 0px 1px 23px 10px #f1f1f1;
}
.igncs-up-k5-left-des p{
    line-height: 1.2;
    color: #fff;
}
.igncs-up-k5-sec-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 13px 0;
    padding-left: 36px;
    padding-right: 36px;
}
.igncs-up-k5-left-des {
    width: 58%;
    padding-right: 20px;
}
.igncs-up-52-rgt-img {
    width: 42%;
    padding-right: 24px;
}
.igncs-up-k5-rgt-img-cntlr{
    text-align: right;
}
.igncs-up-k6-sec-inr {
    display: flex;
    flex-wrap: wrap;
    padding-top: 57px;
    padding-bottom: 57px;
}
.igncs-up-k6-left-des {
    width: 64%;
    padding-right: 40px;
}
.igncs-up-k6-rgt-img {
    width: 36%;
}
.igncs-up-k6-rgt-img-cntlr{
    border: 6px solid #fff;
    box-shadow: 0px 1px 23px 10px #f1f1f1;
    -webkit-box-shadow: 0px 1px 23px 10px #f1f1f1;
    -ms-box-shadow: 0px 1px 23px 10px #f1f1f1;
}
.igncs-up-k7-sec.plr-50{
    padding-right: 0!important;
}
.igncs-up-k7-sec-inr {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 25px;
}
.igncs-up-k7-left-des {
    width: 66%;
    padding-right: 30px;
}
.igncs-up-k7-rgt-img {
    width: 34%;
}
.igncs-up-k8-sec-inner {
    display: flex;
    flex-wrap: wrap;
    padding-top: 45px;
    padding-bottom: 40px;
}
.igncs-up-k8-left-des {
    width: 66%;
    padding-right: 35px;
}
.igncs-up-k8-rgt-img {
    width: 34%;
}
.igncs-up-k8-left-des p{
    color: #fff;
    line-height: 1.16;
}



@media (max-width: 1199px){
    .igncs-up-k5-sec-inner{
        padding: 30px;
    }
    .igncs-up-k1-sec-inner{
        padding: 30px 0;
    }
}
@media (max-width: 991px){
    .igncs-up-k1-arow-img-ctlr {
        top: -60px;
        right: -15px;
        max-width: 100px;
        width: 100%;
    }
    .igncs-up-k1-sec-inner{
        padding-top: 40px;
    }
    .igncs-up-k2-sec-inner{
        padding-left: 32px;
        padding-right: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .igncs-up-k4-left-des{
        padding-top: 0;
    }
    .igncs-up-k7-sec-inr{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .igncs-k4-rgt-img,
    .igncs-k4-left-des,
    .igncs-k3-rgt-img,
    .igncs-k3-left-des,
    .igncs-k2-rgt-img,
    .igncs-k2-left-des,
    .igncs-k1-lft-des,
    .igncs-k1-rgt-img{
        width: 100%;
    }
    .igncs-k1-rgt-img-cntlr img {
        display: block;
    }
    .igncs-k1-rgt-img-inline{
        display: none;
    }
    .igncs-k1-rgt-img-cntlr{
        height: initial;
    }
    .igncs-k4-rgt-img,
    .igncs-k3-rgt-img,
    .igncs-k2-rgt-img,
    .igncs-k1-rgt-img{
        order: 1;
        margin-bottom: 35px;
        text-align: center;
    }
    .igncs-k4-left-des,
    .igncs-k3-left-des,
    .igncs-k2-left-des,
    .igncs-k1-lft-des{
        order: 2;
        padding: 0;
    }
    .igncs-k3-rgt-img-cntlr{
        max-width: 400px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .igncs-k5-sec-row-2 .igncs-k5-left-des{
        padding-right: 10px;
        width: 58%;
    }
    .igncs-k5-sec-row-2 .igncs-k5-rgt-img{
        width: 42%;
    }
    .igncs-k5-sec-row-2 .igncs-k5-rgt-img-inr{
        margin-left: 0;
    }
    .igncs-k5-sec-row-2 .igncs-k5-sec-row-inr {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .igncs-k5-sec-inr {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .igncs-k5-sec-row-2{
        padding-right: 0;
    }
    .igncs-k4-left-des ul li:nth-child(2), 
    .igncs-k2-left-des ul li:nth-child(2) {
        padding-bottom: 30px;
    }
}
@media (max-width: 767px){
    .igncs-k5-sec-row-2 .igncs-k5-rgt-img,
    .igncs-k5-sec-row-2 .igncs-k5-left-des,
    .igncs-k5-sec-row-3 .igncs-k5-left-des,
    .igncs-k5-sec-row-3 .igncs-k5-rgt-img,
    .igncs-k5-rgt-img,
    .igncs-k5-left-des{
        width: 100%;
    }
    .igncs-k5-rgt-img{
        order: 1;
        margin-bottom: 35px;
        text-align: center;
    }
    .igncs-k5-left-des{
        order: 2;
        padding: 0;
    }
    .igncs-k5-sec-row-2 .igncs-k5-rgt-img-inr{
        display: inline-block;
    }
    .igncs-k5-sec-row{
        padding: 30px 20px;
    }
    .igncs-k5-sec-row-3{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .igncs-k1-sec{
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .igncs-k4-left-des ul li:nth-child(2), 
    .igncs-k2-left-des ul li:nth-child(2) {
        padding-bottom: 22px;
    }
    .igncs-k2-sec,
    .igncs-k4-sec{
        padding-bottom: 20px;
    }
    .igncs-k4-sec.plr-50{
        padding-right: 15px!important;
    }
    .igncs-k1-img-des-cntlr{
        padding-left: 20px;
        padding-right: 20px;
    }
    .igncs-k5-left-des ul {
        padding-top: 0px;
    }
    .igncs-k5-rgt-img{
        max-width: 400px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    } 
}

@media(max-width: 575px){
    
}