@font-face {
    font-family: 'Roboto-Regular';
    src: url('RobotoRegular/RobotoRegular.eot');
    src: url('RobotoRegular/RobotoRegular.eot') format('embedded-opentype'),
         url('RobotoRegular/RobotoRegular.woff2') format('woff2'),
         url('RobotoRegular/RobotoRegular.woff') format('woff'),
         url('RobotoRegular/RobotoRegular.ttf') format('truetype'),
         url('RobotoRegular/RobotoRegular.svg#RobotoRegular') format('svg');
}
