@font-face {
    font-family: 'Barlow-ExtraBold';
    src: url('Barlow-ExtraBold/Barlow-ExtraBold.woff2') format('woff2'),
        url('Barlow-ExtraBold/Barlow-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

